body {
    background-color: grey;
    }
    .img1{
    border: 10px solid lavender;
    width: 400px;
    height: auto;
    }
    h1{
    text-align: center;
    color: lightblue;
    }
    